@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

@font-face {
    font-family: montreal;
    src: url(./font/PPNeueMontreal.woff);
}

html,
body {
    height: 100%;
    width: 100%;
}


/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

body {
    background: #DDDDD8;
    /* background: #AFAF9D; */
    color: #161614;
    font-family: montreal;
}