@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}


/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, etc.) */

*::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

body {
    background: #141412;
    color: #CBCBC1;
    /* overflow-y: hidden; */
    /* overflow: hidden; */
}