.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 15px;
    gap: 40px;
    margin-top: 20px;
    color: rgb(243, 227, 60);
}

.footer a {
    // background-color: rgb(88, 82, 82);
    padding: 3px 10px;
    border-radius: 15px;
    border: 2px solid rgb(141, 130, 130);
    color: bisque;
}