.link {
    position: relative;
    display: flex;
    align-items: center;
    .indicator {
        width: 10px;
        height: 10px;
        background-color: rgb(194, 124, 124);
        border-radius: 50%;
        position: absolute;
        left: -30px;
    }
}